<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.component.css">
    <title>Document</title>
</head>
<body>
<div class="footer">
  <div class="contact">
  <a href="#">Contact Us</a></div>
  <div class="@upGrad">
  <a href="#">@upGrad</a></div>
  <div class="facebook">
  <a href="3">Facebook</a></div>
  <div class="twitter">
  <a href="#">Twitter</a></div>
</div>

</body>
</html> 
