<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <title>Document</title>
</head>
<body>
  <div class="row justify-content-center">
    <div class="col-lg-3 mt-50 center">
      <p><b>Self-drive vehicle rental in Mumbai</b></p>
      <a href="#" class="btn  btn-success book-now "><div class="content">BOOK NOW</div><div class="icon"><i class="fa fa-arrow-circle-right"></i></div> </a>
    </div>
  </div>
</body>
</html>
